.red {
    color: red;
 }
 .thick {
    font-size:20px;
 }
 .green {
    color:green;
 }
 .emerald{
     color: #2ecc71;
 }
 .wetasphalt{
     color: #34495e;
 }
 .peterriver{
     color: #3498db;
 }

* {padding:0; margin:0}

body{
     background: #2ecc71;
 }

 header{width: 950px; color:red; margin: auto; text-align: center; padding: 2%}

 menu{
     width: 950px; background: #3498db; 
     margin:auto; padding: 15px;
 }


 menu a{
     color: white;
     margin-right: 10px;
     text-decoration-line: none;
    
     
 }

 menu a:hover{
     text-decoration-line: underline; color:yellowgreen;
 }

 article{
     width: 950px;
     margin:auto; padding: 15px;
     background: #16a085;
 }

 article h1{
     text-align: center;
     color:white;
     margin-bottom: 10px;
 }


 article img{
     width: 25%;
     height: 25%;
     float: left;
     margin-right: 10px;
     margin-left: 20px;
     margin-top: 15px;
 }

 article p{


    margin:10px;
    padding:10px;
    text-align: justify;
}

 footer{
     width: 950px; margin:auto; padding:15px; background: #3498db;
     text-align: center;
 }